button{
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Agregamos transiciones para suavizar el efecto */
}

button:hover {
    transform: translateY(-10px); /* Movemos el botón hacia arriba */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Agregamos una sombra */
}
