<app-header></app-header>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
<div class="container">
    <div class="contact__wrapper shadow-lg mt-n9">
        <div class="row no-gutters">
            <div class="col-lg-5 contact-info__wrapper gradient-brand-color p-5 order-lg-2">
                <h3 class="color--white mb-5">Contáctanos</h3>

                <ul class="contact-info__list list-style--none position-relative z-index-101">
                    <li class="mb-4 pl-4">
                        <span class="position-absolute"><i class="fas fa-envelope"></i></span> r.moronhinojosa&#64;gmail.com
                    </li>
                    <li class="mb-4 pl-4">
                        <span class="position-absolute"><i class="fas fa-phone"></i></span> +34 633 028 767
                    </li>
                    <li class="mb-4 pl-4">
                        <span class="position-absolute"><i class="fas fa-map-marker-alt"></i></span> c/Alafires ,36
                        <br> 41640 Osuna,Sevilla
                        <div class="mt-3">
                            <a href="https://www.google.com/maps/place/C.+Alarifes,+36,+41640+Osuna,+Sevilla/@37.2455307,-5.1096789,17.5z/
                            data=!4m15!1m8!3m7!1s0xd12aba8cde59067:0x91f1110556a93a6e!2s41640+Osuna
                            ,+Sevilla!3b1!8m2!3d37.2373642!4d-5.1033081!16zL20vMDdncnE2!3m5!1s0xd12
                            aba37e1dcd6d:0x574a22c9e726c6c9!8m2!3d37.2460452!4d-5.1096033!16s%2Fg%2F11t6yf3wfj?entry=ttu"
                            target="_blank" class="text-link link--right-icon text-white">Nuestra localización<i class="link__icon fa fa-directions"></i></a>
                        </div>
                    </li>
                </ul>

                <figure class="figure position-absolute m-0 opacity-06 z-index-100" style="bottom:0; right: 10px">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="444px" height="626px">
                        <defs>
                            <linearGradient id="PSgrad_1" x1="0%" x2="81.915%" y1="57.358%" y2="0%">
                                <stop offset="0%" stop-color="rgb(255,255,255)" stop-opacity="1"></stop>
                                <stop offset="100%" stop-color=" rgb(255, 255, 255)" stop-opacity="0"></stop>
                            </linearGradient>

                        </defs>
                        <path fill-rule="evenodd" opacity="0.302" fill="  rgb(80, 91, 61) " d="M816.210,-41.714 L968.999,111.158 L-197.210,1277.998 L-349.998,1125.127 L816.210,-41.714 Z"></path>
                        <path fill="url(#PSgrad_1)" d="M816.210,-41.714 L968.999,111.158 L-197.210,1277.998 L-349.998,1125.127 L816.210,-41.714 Z"></path>
                    </svg>
                </figure>
            </div>

            <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1">
                <form action="#" class="contact-form form-validate" novalidate="novalidate">
                    <div class="row">
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label class="required-field" for="firstName">Nombre</label>
                                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Ruben">
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label for="lastName">Apellidos</label>
                                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Moron Hinojosa">
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label class="required-field" for="email">Email</label>
                                <input type="text" class="form-control" id="email" name="email" placeholder="r.moronhinojosa@gmail.com">
                            </div>
                        </div>



                        <div class="col-sm-12 mb-3">
                            <div class="form-group">
                                <label class="required-field" for="message">¿Cómo podemos ayudarte?</label>
                                <textarea class="form-control" id="message" name="message" rows="4" placeholder="Aqui puedes escribir lo que te gustaría comunicarnos... "></textarea>
                            </div>
                        </div>

                        <div class="col-sm-12 mb-3">
                            <button type="submit" name="submit" class="btn btn-dark">Enviar  </button>
                        </div>

                    </div>
                </form>
            </div>
            <!-- End Contact Form Wrapper -->

        </div>
    </div>
</div>
<app-footer></app-footer>
