<div class="container">
    <div class="col">
        <div class="text">
            <h3>Pistas Indoor</h3>
            <div class="fila">
                <div class="tarjeta">
                    <div class="icon">
                        <img src="assets/img/Favicon.png" alt="">
                    </div>
                    <div class="tarjeta-text">
                        <h6>Recinto y Climatización</h6>
                        <p>En nuestro indoor podrás disfrutar del padel 
                            en cualquier estación del año llueva, nieve o calor extremo... 
                        </p>
                        <p>
                            Además contamos con completa climatización, tanto para 
                            los días calurosos como para los días frios.
                        </p>
                    </div>
                </div>
                <div class="tarjeta">
                    <div class="icon">
                        <img src="assets/img/Favicon.png" alt="">
                    </div>
                    <div class="tarjeta-text">
                        <h6>Pista de calidad y entorno perfecto</h6>
                        <p>Nuestra pista son de la máxima calidad para 
                            que puedas disfrutar verdaderamente sin excusas.
                        </p>
                        <p>También contamos con lo mejor en iluminación para 
                            que no pierdas de vista la bola.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenedor-imagenes">
            <div class="fila">
              <div class="img-fluid"><img src="assets/img/fondoSectionPalas.png" alt="No se ha podido cargar la imagen"></div>
              <div class="img-fluid"><img src="assets/img/fondoSectionPalas.png" alt="No se ha podido cargar la imagen"></div>
            </div>
            <div class="fila">
                <div class="img-fluid"><img src="assets/img/fondoSectionPalas.png" alt="No se ha podido cargar la imagen"></div>
                <div class="img-fluid"><img src="assets/img/fondoSectionPalas.png" alt="No se ha podido cargar la imagen"></div>
            </div>
            <div class="fila">
                <div class="img-fluid"><img src="assets/img/fondoSectionPalas.png" alt="No se ha podido cargar la imagen"></div>
                <div class="img-fluid"><img src="assets/img/fondoSectionPalas.png" alt="No se ha podido cargar la imagen"></div>
            </div>
          </div>
          
    </div>
</div>
