<div class="container">
    <div class="col">
        <div class="text">

        </div>
        <div class="contenedor-imagenes">
            <div class="fila">
              <div class="img-fluid"><img src="../../../assets/img/fondoSectionPalas.png" alt="No se ha podido cargar la imagen"></div>
              <div class="img-fluid"><img src="../../../assets/img/fondoSectionPalas.png" alt="No se ha podido cargar la imagen"></div>
            </div>
            <div class="fila">
                <div class="img-fluid"><img src="../../../assets/img/fondoSectionPalas.png" alt="No se ha podido cargar la imagen"></div>
                <div class="img-fluid"><img src="../../../assets/img/fondoSectionPalas.png" alt="No se ha podido cargar la imagen"></div>
            </div>
            <div class="fila">
                <div class="img-fluid"><img src="../../../assets/img/fondoSectionPalas.png" alt="No se ha podido cargar la imagen"></div>
                <div class="img-fluid"><img src="../../../assets/img/fondoSectionPalas.png" alt="No se ha podido cargar la imagen"></div>
            </div>
          </div>
          
    </div>
</div>
