<article className='tw-follow-card'>
    <header className='tw-follow-header'>
        <img className='tw-follow-avatar' src="../../../assets/img/twitter.png"  alt="El avatar de kikobeats"/>
        <div>
            <strong>name</strong>
            <span>username</span> 
        </div>
    </header>
    <aside>
       <button className={buttonClassName} onClick={handleClick}>
            
            <span className='text'></span>
            <span className='stop-follow'>Enviar Mensaje</span>
        </button>
    </aside>
   </article>