<header class="imagenprincipal">
   <div class="container">
        <div class="textoSlider">
            <h2>RM Padel Indoor</h2>
            <p>Tu club de padel en Osuna</p>
            <p>Contamos con 4 maravillosas pistas <br>
                 además de vestuarios, bar y pequeña zona de ocio <br>
                  mientras esperas tu partido</p>
        </div>
        <div class="btosSlider">
            <button class="btn">
                Buscar partido
            </button>
            <button class="btn">
                Reservar
            </button>
        </div>
   </div>
</header>