#containerPrincipal{
    display: flex;
    justify-content: center;
}

.imagenprincipal {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    border-radius: 20px;
    background: linear-gradient(rgba(98, 152, 105, 0.7), rgba(62, 106, 76, 0.70)), url('../../../assets/img/fondoSectionPalas.png') no-repeat center center/cover;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 1450px;
    height: 500px;
}
#fondo {
    margin-right: 50px;
}
.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(rgba(98, 152, 105, 0.7), rgba(62, 106, 76, 0.70));
    border-radius: 20%;
    padding: 30px;
    color: white;
    max-height: 500px;
}
.btosSlider {
    display: flex;
    justify-content: space-between;
}
button{
    background-color: white;
    color: #556c2f;
    border: 2px solid rgba(62, 106, 76);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Agregamos transiciones para suavizar el efecto */
}
button:hover{
    transform: translateY(-3px); /* Movemos el botón hacia arriba */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Agregamos una sombra */
    background: linear-gradient(rgba(98, 152, 105, 0.7), rgba(62, 106, 76, 0.70));
    color: white;
}
