
.color {
    background-color:  #556c2f;
    opacity: 40%;
}
.imagenprincipal {
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 20px;
    height: 500px;
    background: url('../../../assets/img/fondoSectionPalas.png') no-repeat center center/cover;
    padding: 50px;
    margin-bottom: 20px;    
}

.imagenprincipal::before > .verde {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(85, 108, 47, 0.4);
    border-radius: 20px;
     /* Colocamos la capa detrás del contenido */
}
