<div id="container">
    <div id="section1" >
        <header>
            <h3>Reserva Online</h3>
        </header>
        <section>
            <p>Para solicitar una reserva de las pistas tienes 
               <br> varias opciones disponibles</p>
            <p>Podrás hacerlo a través de <b> nuestra página web</b>
                <br> accediendo a nuestra sección de reserva
            </p>
            <p>Tambíen podrás hacer tu reserva mediante <b> WhatsApp </b>
                <br> o mediante <b> llamada telefónica</b>
            </p>
            <br>
            <h6>¡Esperamos verte pronto por nuestras pistas!</h6>
        </section>
    </div>
    <div id="section2">
        <div class="tarjeta">
            <div>
                <img src="../../../assets/img/Favicon.png" alt="" height="40px">
            </div>
            <div>
                <h5>Sistema de usuarios</h5>
                <p>lorem</p>
            </div>
        </div>
        <div class="tarjeta">
            <div>
                <img src="../../../assets/img/Favicon.png" alt="" height="40px">
            </div>
            <div>
                <h5>Sistema de usuarios</h5>
                <p></p>
            </div>
        </div>
        <div class="tarjeta">
            <div>
                <img src="../../../assets/img/Favicon.png" alt="" height="40px">
            </div>
            <div>
                <h5>Sistema de usuarios</h5>
                <p></p>
            </div>
        </div>
    </div>
</div>