#container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width:768px) {
 #container{
    flex-direction: column;
    justify-content: space-around;
 }   
 #section2{
    margin-top:20px;
 }
}

#section1 {
    text-align: center;
    
}
#section2 {
    display: flex;
    flex-direction: column;
    

}

.tarjeta{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    background-color: rgba(236, 236, 236, 0.486);
    border-radius: 15px;
    padding: 20px;
    max-width: 300px;

}
.tarjeta  div {
    margin-left: 15px;
    margin-right: 15px;
}