<app-header></app-header>
<div id="principal">
    <div id="header">
        <div id="sectionIzq">
            <img src="assets/img/LogoRuben.png" alt="">    
            <h3>Username</h3>
        </div>
        <div>
        @if (posibilidadEditar) {
            <a routerLink="/editarPerfil"><button class="btn">Editar perfil</button></a>
         }
         @else {
            <a routerLink="/directMessage"><button class="btn">Enviar mensaje</button></a>
         }   
        </div>
    </div>
    <div id="info">
        <div id="infoPersonal">
            <div id="titulo">
                <h5>Datos personales</h5>
            </div>
            <div class="estadisticas">
                <span>Nombre Completo</span>
                <h6>{{ usuario.nombre  }} {{ usuario.apellidos }}</h6>
            </div>
            <div class="estadisticas">
                <span>Lugar de nacimiento</span>
                <h6>{{ usuario.lugarNac}}</h6>
            </div>
            <div class="estadisticas">
                <span>Fecha de nacimiento</span>
                <h6>{{ usuario.fechaNac}}</h6>
            </div>
            <div class="estadisticas">
                <span>Email</span>
                <h6>{{ usuario.email}}</h6>
            </div>
           
        </div>
        <div id="infoEstadisticas">
            <div id="titulo">
                <h5>Estadisticas</h5>
            </div>
            <div class="estadisticas">
                <span>Posicion</span>
                <h6>Revés</h6>
            </div>
            <div class="estadisticas">
                <span>Liga</span>
                <h6>5º</h6>
            </div>
            <div class="estadisticas">
                <span>Jugados</span>
                <h6>100</h6>
            </div>
            <div class="estadisticas">
                <span>Ganados</span>
                <h6>60</h6>
            </div>
            <div class="estadisticas">
                <span>Perdidos</span>
                <h6>40</h6>
            </div>
            
        </div>
    </div>
</div>
<app-footer></app-footer>