<div id="principal">
    <div id="header">
        <div id="sectionIzq">
            <img src="../../../assets/img/LogoRuben.png" alt="">    
            <h3>Username</h3>
        </div>
        <div>
            <button class="btn">Editar perfil</button>
        </div>
    </div>
    <div id="info">
        <div id="infoPersonal">
            <div id="titulo">
                <h5>Datos personales</h5>
            </div>
            <div class="estadisticas">
                <span>Nombre Completo</span>
                <h6>Martin Di Nenno</h6>
            </div>
            <div class="estadisticas">
                <span>Lugar de nacimiento</span>
                <h6>Chaco -Arg</h6>
            </div>
            <div class="estadisticas">
                <span>Fecha de nacimiento</span>
                <h6>25-03-1996</h6>
            </div>
            <div class="estadisticas">
                <span>Email</span>
                <h6>carlosElRAYO&commat;gmail.com</h6>
            </div>
           
        </div>
        <div id="infoEstadisticas">
            <div id="titulo">
                <h5>Estadisticas</h5>
            </div>
            <div class="estadisticas">
                <span>Posicion</span>
                <h6>Revés</h6>
            </div>
            <div class="estadisticas">
                <span>Liga</span>
                <h6>5º</h6>
            </div>
            <div class="estadisticas">
                <span>Jugados</span>
                <h6>100</h6>
            </div>
            <div class="estadisticas">
                <span>Ganados</span>
                <h6>60</h6>
            </div>
            <div class="estadisticas">
                <span>Perdidos</span>
                <h6>40</h6>
            </div>
            
        </div>
    </div>
</div>
