<div id="principal">
    <div id="header">
        <div id="sectionIzq">
            <img src="../../../assets/img/LogoRuben.png" alt="">    
            <h3>Username</h3>
        </div>
        <div>
            <button class="btn">Editar perfil</button>
        </div>
    </div>
    <div id="info">
        <div id="infoPersonal">
            <h5>Datos personales</h5>
        </div>
        <div id="infoEstadisticas">
            <h5>Estadisticas</h5>
            <div class="estadisticas">
                <h6>Posicion</h6>
                <span>Drive</span>
            </div>
            <div class="estadisticas">
                <h6>Liga</h6>
                <span>5º</span>
            </div>
            <div class="estadisticas">
                <h6>Jugados</h6>
                <span>100</span>
            </div>
            <div class="estadisticas">
                <h6>Ganados</h6>
                <span>60</span>
            </div>
            <div class="estadisticas">
                <h6>Perdidos</h6>
                <span>40</span>
            </div>
            
        </div>
    </div>
</div>
