<app-header></app-header>
<div id="main">
  <div id="section">
    <div id="info">
      <div id="titular">
        <img id="icon" src="../../../assets/img/Favicon.png" alt="">
        <h4>Vestuarios</h4>
      </div>
      <p>
        Contamos con todos los vestuarios
      </p>
    </div>
    <div id="images">
      <img src="../../../assets/img/fondoSectionPalas.png" alt="">
      <img src="../../../assets/img/fondoSectionPalas.png" alt="">
    </div>
  </div>
  <div id="section">
    <div id="info">
      <div id="titular">
        <img id="icon" src="../../../assets/img/Favicon.png" alt="">
        <h4>Bar y ocio</h4>
      </div>
      <p>
        Contamos con zona de bar y ocio
      </p>
    </div>
    <div id="images">
      <img src="../../../assets/img/fondoSectionPalas.png" alt="">
      <img src="../../../assets/img/fondoSectionPalas.png" alt="">
    </div>
  </div>
  <div id="section">
    <div id="info">
      <div id="titular">
        <img id="icon" src="../../../assets/img/Favicon.png" alt="">
        <h4>Aseos</h4>
      </div>
      <p>
        Contamos con todos los aseos
      </p>
    </div>
    <div id="images">
      <img src="../../../assets/img/fondoSectionPalas.png" alt="">
      <img src="../../../assets/img/fondoSectionPalas.png" alt="">
    </div>
  </div>

</div>
<app-footer></app-footer>