footer {
/*background-color: rgba(85, 108, 47, 0.7);*/
background:
    linear-gradient(
    rgba(98, 152, 105, 0.75),
    rgba(62, 106, 76, 0.95));
color: white;
border-top-left-radius:8px;
border-top-right-radius:8px;
}

img {
    height: 40px;
}
#redesSociales p{
    margin-left: 40px;
}