<nav class="navbar navbar-expand-lg">
    <img src="../../../assets/img/LogoRuben.png" class="img-fluid" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse align-items-md-center" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Inicio</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Club
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/pistasIndoor">Pistas Indoor</a>
                    <a class="dropdown-item">Instalaciones</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link">Buscar partido</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Contacto</a>
            </li>
            <li class="nav-item" id="liReserva">
                <a class="nav-link">Reservar pista</a>
            </li>
        </ul>
        <a routerLink="/inicioSesion"><button class="btn my-2 my-sm-0 m-5" id="btnReserva"><span class="material-symbols-outlined">person</span></button></a>

    </div>
</nav>