nav {
    padding: 10px;
    border-radius:20px;
}

.navbar-toggler {
    background-color: rgb(234, 234, 234);
}
img {
    max-height: 80px;
    margin-left: 10px;
}
a{
    color: black;
}
li{
    color: black;
    margin-right: 10px;
}
#liReserva{
    background: linear-gradient(rgba(98, 152, 105, 0.7), rgba(62, 106, 76, 0.70));
    border-radius: 10%;
    color: white;

}
li:hover .nav-link{
    background:linear-gradient(rgba(98, 152, 105, 0.7), rgba(62, 106, 76, 0.70));
    border-radius: 10%;
    color: white;
    cursor: pointer;
}

button{
    border: 2px solid rgba(62, 106, 76, 0.70);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Agregamos transiciones para suavizar el efecto */
}

button:hover {
    transform: translateY(-3px); /* Movemos el botón hacia arriba */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Agregamos una sombra */
    background: linear-gradient(rgba(98, 152, 105, 0.7), rgba(62, 106, 76, 0.70));
    color: white;
}
#right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 25px;
}

#right a {
    text-decoration: none;
}
#imageUser {
 width: 60px;
 height: 60px;
 margin-right: 10px;
}

#imageUser:hover {
    cursor: pointer;
}
